.accordion-legal details {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-legal details + details {
  margin-top: 0;
}

.accordion-legal details p {
  margin-bottom: 0.8em;
}

.accordion-legal details summary {
  position: relative;
  padding: 16px 0;
  padding-right: 40px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: color 0.2s;
  color: var(--link-color);
  font-weight: 500;
}

.accordion-legal details[open] summary {
  background-color: transparent;
}

.accordion-legal details summary:focus,
.accordion-legal details summary:hover {
  color: var(--link-hover-color);
}

.accordion-legal details summary::-webkit-details-marker {
  display: none;
}

.accordion-legal details summary::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 300;
  color: var(--link-color);
  border: none;
  width: auto;
  height: auto;
  transition: transform 0.2s;
}

.accordion-legal details[open] summary::after {
  content: '\2212';
  transform: translateY(-50%);
}

.accordion-legal details .accordion-legal-item-body {
  padding: 0 0 16px;
}

.accordion-legal details[open] .accordion-legal-item-body {
  background-color: var(--background-color);
}
