/* Deutsche Bank uses proprietary licensed fonts (DeutscheBank Regular/Medium/Bold).
   These cannot be redistributed. Using Arial as the system fallback,
   which matches Deutsche Bank's own declared fallback stack. */

@font-face {
  font-family: deutschebank-fallback;
  size-adjust: 100%;
  src: local('Arial');
}

@font-face {
  font-family: deutschebank-heading-fallback;
  size-adjust: 98%;
  src: local('Arial');
}
